a {
      color: #ffffff;
      text-decoration: none;
}

body {
      background: url("ae86_1.jpg") no-repeat;
      background-attachment: fixed;
      background-size: 100%;
      background-color: #444444;
      color: #ffffff;
}

#container {
      width: 1024px;
      height: 1600px;
      margin: auto;
}

#header {
      width: 1024px;
      /* background-color:#97e9ff; */
      height: 80px;
      text-align: center;
}

#menu {
      height: 40px;
      float: left;
      width: 1024px;
      background-color:#444444;
      clear: both;
      /* border-style: dashed; */
      margin-top: 5px;
      margin-bottom: 5px;
}

#sidebar {
      /* background-color:#fbffb6; */
      width: 200px;
      height: 1420px;
      float: right;
      margin-left: 20px;
}

#bottom {
      clear: both;
      height: 100px;
      text-align: center;
      /* background-color:#ffffff; */
}